push.bat
TestResult.xml
build
obj
bin
deploy
deploy/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
~$*
*_cache
*crunchproject.local.xml
src/packages
src/Snooze.Package.Solution/packages
src/Snooze.Testing.Package.Solution/packages